<section class="row">
    <div>
        <img src="assets/img/{{ rowImage }}">
    </div>

    <div class="row__text">
        {% if rowTitle %}
            <h2 class="row__title">{{ rowTitle }}</h2>
        {% endif %}
        {% for p in rowParagraphs %}
            <p class="row__paragraph">
                {{ p}}
            </p>
        {% endfor %}
        {% if rowButton %}
            <a href="over" class="row__button">
                Over Studio Boost
            </a>
        {% endif %}
    </div>
</section>