---
title: "Apotheek De Boeck"
headerParagraph: "Voor Apotheek De Boeck heb ik een complete huisstijl ontworpen. Als apotheker heb je niet enkel een logo nodig maar ook grote raamstickers, visitekaartjes, doosjes etc."
headerSubTitle: "ONTWERP EN ONTWIKKELING"
headerImg: 'apotheek5.png'
images: 
    - img: 'apotheek2.png'
    - img: 'apotheek3.png'
    - img: 'apotheek1.png'
    - img: 'apotheek4.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}