---
title: "Dental Dok"
headerParagraph: "Voor deze tandartse ontwierp ik een fris logo én een zeer unieke landingspage."
headerSubTitle: "ONTWERP"
headerImg: 'dentaldok2.png'
images: 
    - img: 'dentaldok1.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}