---
title: "Dermadent"
headerParagraph: "Voor Apotheek De Boeck heb ik een complete huisstijl ontworpen. Als apotheker heb je niet enkel een logo nodig maar ook grote raamsticVoor Tandkliniek Dermadent heb ik een stijlvolle website ontworpen en ontwikkeld. Dankzij de animaties krijgt de bezoeker een gevoel van interactiviteit en wordt deze rondgeleid door de webpagina’s."
headerSubTitle: "ONTWERP EN DEVELOPMENT"
headerImg: 'dermadent6.png'
images: 
    - img: 'dermadent1.png'
    - img: 'dermadent2.png'
    - img: 'dermadent3.png'
    - img: 'dermadent4.png'
    - img: 'dermadent5.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}