---
title: "Kine Charlier"
headerParagraph: "Kinesitherapie Céline Charlier is een algemene kinesitherapiepraktijk met een bijzondere interesse voor bekkenbodemproblematiek, lymfedrainage en perinatale begeleiding."
headerSubTitle: "ONTWERP EN DEVELOPMENT"
headerImg: 'kine4.png'
images: 
    - img: 'kine1.png'
    - img: 'kine2.png'
    - img: 'kine5.png'
    - img: 'kine3.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}