---
title: "Onder vrienden"
headerParagraph: "Voor de festival-organisatie Ondervrienden ontwikkelde ik een website voor hun drie organisaties: Festival Onder Vrienden, Disco Onder Vrienden, Techno Onder Vrienden."
headerSubTitle: "DEVELOPMENT"
headerImg: 'vrienden5.png'
images: 
    - img: 'vrienden1.png'
    - img: 'vrienden2.png'
    - img: 'vrienden3.png'
    - img: 'vrienden4.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}