---
title: "Optiek Sofie"
headerParagraph: "Een moderne website en showroom ontwikkeld voor Optiek Sofie te Ronse. Deze showroom kan volledig worden aangepast door de de optieker in een backend omgeving."
headerSubTitle: "WEBSHOP"
headerImg: 'optiek4.png'
images: 
    - img: 'optiek1.png'
    - img: 'optiek2.png'
    - img: 'optiek3.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}