---
title: "Slaapcomfort"
headerParagraph: "Voor Spiers Slaapcomfort ontwierp en ontwikkelde ik een website en webshop in meerdere talen."
headerSubTitle: "WEBSHOP"
headerImg: 'slaap4.png'
images: 
    - img: 'slaap1.png'
    - img: 'slaap2.png'
    - img: 'slaap5.png'
    - img: 'slaap3.png'
navColor: light
---

{% extends "input/_layouts/list.njk" %}