---
title: "Vosselare"
headerParagraph: "Voor deze tandartspraktijk maakte ik een logo gebasseerd op de naam van hun dorp, ontwierp ik een stijlvolle website en ontwikkelde ik deze zodat deze heel performant werkt op ieder toestel."
headerSubTitle: "ONTWERP EN DEVELOPMENT"
headerImg: 'vosselare3.png'
images: 
    - img: 'vosselare1.png'
    - img: 'vosselare2.png'
navColor: light

---

{% extends "input/_layouts/list.njk" %}