@font-face {
    font-family: 'Sitka Display';
    src: url('../fonts/SitkaDisplay.woff2') format('woff2'),
        url('../fonts/SitkaDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/subset-WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/subset-WorkSans-Light.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/subset-WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

