---
title: "E-commerce trends-1"
rowParagraphs: 
    - "Het einde van 2022 komt nu echt in zicht. Voor heel wat webshopeigenaars zijn de feestdagen uiteraard een drukke en uiterst belangrijke periode. Heb jij je kerst- of eindejaarscampagne al grotendeels uitgewerkt, of ben je volop bezig je ideeën in campagnes om te zetten? Dan is dit de laatste kans om die nog te finetunen. Wedden dat je deze online marketing-trucjes nog niet allemaal kende?"
rowImage: 'roze.png'
subtitle: "Mobiel winkelen wordt de norm"
made: "06 FEBRUARI 2023"
---

{% extends "input/_layouts/column.njk" %}

{% block center %}
    <div class="main-content">

<p>
        Lap, smartphone thuis vergeten! Een nachtmerrie voor zowat iedereen nu onze smartphones aanwezig zijn in zoveel aspecten van onze dag. Je alarm, muziekspeler, socialemediakanaal, digitale encyclopedie. Allen worden ze zowat dagelijks gebruikt, en blijkbaar kan je er zelfs nog mee bellen ook. De Vlaamse overheid gaf aan in het rapport rond mediabezit dat 82% van de volwassenen in Vlaanderen een smartphone had. Bij 18- tot 49-jarigen was dat zelfs 97%. Dat zijn heel wat smartphones, niet?
    </p>

    <p>
        Omdat smartphones zo’n groot deel van onze routine zijn geworden, is het een natuurlijk gevolg dat bedrijven steeds meer inzetten op gebruiksvriendelijkheid en advertenties voor mobiele gebruikers. Socialemediakanalen zoals Facebook, Twitter en Instagram hebben in tal van landen zelfs knoppen geïntroduceerd om hun gebruikers te laten aankopen zonder dat ze het platform moeten verlaten. Mobiele websites voegen steeds vaker een versimpelde versie van het checkoutproces toe aan hun site en bijna elke grote winkel heeft een eigen app. Je kan dus met zekerheid zeggen dat mobiele e-commerce in de lift zit, ze hebben er zelfs de term m-commerce voor bedacht.
    </p>

    <h2>
        M-commerce: wat is het en hoe doe je dat?
    </h2>

    <p>
        M-commerce of mobiele e-commerce slaat op iedere commerciële transactie die via apps of mobiele websites plaatsvindt. Alle m-commerce is dus e-commerce maar het omgekeerde geldt niet. Als je weet dat 93% van de Belgen in 2021 hun smartphone dagelijks gebruikten en daar dan gemiddeld 188 minuten mee bezig waren, snap je dat een smartphone een machtige tool kan zijn. Het is dus belangrijker dan ooit om alle uitingen van je bedrijf zo toegankelijk mogelijk te maken voor mobiele gebruikers. Maar hoe speel je nu best in op deze m-commerce?
    </p>

    <h2>
        Lay-out van je website
    </h2>

    <p>
        De lay-out van je website moet zeker ook geschikt zijn voor mobiel gebruik: het zogenaamde responsive design. Het zou zelfs nog beter zijn wanneer je vanuit een mobile-first perspectief begint waarbij gebruiksvriendelijkheid van je mobiele site het voortouw neemt. Dat geldt natuurlijk ook voor webshops, waarvan bijna 80% van alle 25- tot 44-jarigen gebruik maakt. Ook Google beloont mobielvriendelijke sites met een hogere plek in de SERPs. Oude klanten, nieuwe klanten, en nieuwsgierige bezoekers nemen sneller een kijkje op de website als je bovenaan staat tussen de zoekresultaten.
    </p>

    <h2>
        Kies voor een app
    </h2>

    <p>
        Wordt je mobiele site te ingewikkeld? Als je veel producten, pagina’s of informatie hebt, kan een mobiele app een nuttige investering zijn. Het is een grotere initiële kost, maar een app brengt heel wat voordelen met zich mee. De gebruiksvriendelijkheid is vaak beter, wat je klanten je enkel in dank zullen afnemen. Je kan ook extra voordelen en features aanbieden die met een website niet zo vanzelfsprekend zijn.
    </p>

    </div>
    
{% endblock center %}