---
title: "Emoji"
rowParagraphs: 
    - "Emoji’s en communiceren vormen wereldwijd een onvermijdelijke combinatie in het digitale tijdperk. Ze zijn populair, visueel, trekken de aandacht, en overstijgen elke taalbarrière. Het gebruik ervan is tegenwoordig bovendien zodanig ingeburgerd, dat we er nauwelijks meer bij stilstaan. Vooral op sociale media zijn ze overal: één op vijf tweets bevatten emoji’s, en dagelijks worden vijf biljoen emoji’s verstuurd via Facebook Messenger. Maar ook in digitale marketing zijn ze niet meer weg te denken."
rowImage: 'emoji.png'
subtitle: "Emoji’s in online marketing: do or don’t?"
made: "06 JULI 2022"
---

{% extends "input/_layouts/column.njk" %}

{% block center %}
    <div class="main-content">

    <h2>
        Waarom starten met een podcast?
    </h2>

    <p>
        Voor we beginnen, eerst even iets rechtzetten. De termen ‘emoji’ en ‘emoticon’ worden wel eens door elkaar gebruikt. Don’t! Er is een groot verschil. Emoticons dateren uit de jaren ‘90, en zien er ongeveer zo uit: :-) ;-) :-/ :-(. Emoji’s, daarentegen, zijn als het ware kleine afbeeldingen die allerlei soorten gezichten 😧, activiteiten 🏄‍♂️ en voorwerpen🏺voorstellen. Ze zijn veel realistischer dan emoticons, aangezien de huidskleur, haarkleur e.d. gemakkelijk kunnen variëren. Elk jaar worden er bovendien nieuwe emoji’s ontworpen, wat van emoticons niet gezegd kan worden.
    </p>

    </div>

    
    
{% endblock center %}