---
title: "Blog"
nav: Blog
tags: nav
navColor: light
cards: 
    - img: 'e-commerce-treds2.png'
      title: 'E_COMMERCE'
      description: 'Mobiel winkelen wordt de norm'
      link: "mobiel-winkel-wordt-de-norm"   
    - img: 'e-commerce-trends3.png'
      title: 'E_COMMERCE'
      description: 'De 8 belangrijkste e-commerce trends voor 2023'
      link: "e-commerce-trends"   
    - img: 'blog (3).png'
      title: 'E_COMMERCE'
      description: '8 e-commerce tips om meteen te implementeren'
      link: "e-commerce-trends-1" 
    - img: 'podcast2.png'
      title: 'MARKETING'
      description: 'Waarom je als bedrijf een podcast moet starten?'
      link: "podcast"
    - img: 'emoji2.png'
      title: 'MARKETING'
      description: 'Emoji’s in online marketing: do or don’t?'
      link: "emoji"    
    - img: 'voedsel2.png'
      title: 'E_COMMERCE'
      description: 'Waarom voeding nu online groeit?'
      link: "voedsel"   
hero: "Curabitur sed mollis sem. Proin nisi ex, viverra a magna ultricies, fringilla ullamcorper leo. Praesent fringilla augue sem, vitae tempor sapien cursus vel. Cras dolor orci, dapibus eget pulvinar et, feugiat ac dui. Sed mauris dui, viverra non hendrerit sit amet, interdum et erat. Sed urna ipsum, pharetra quis porta ac, dignissim id ligula."


---

{% extends "input/_layouts/grid.njk" %}