---
title: "Contact"
nav: Contact
tags: 
    - nav
navColor: dark
images:
    - 'contact (2).png' 
    - 'contact (1).png'
toptext: "Kom gerust langs of contacteer ons." 
addContact: true
bottomtext: "Studio Boost is gevestigd in het bruisende en historische centrum van Gent, een stad die bekend staat om zijn rijke cultuur, prachtige architectuur en levendige sfeer. Het kantoor is gelegen in een van de oudste wijken van de stad, op loopafstand van de vele restaurants, cafés en winkels. De ligging van Studio Boost is ideaal voor het ontvangen van klanten en het organiseren van vergaderingen en presentaties, aangezien het kantoor gemakkelijk bereikbaar is met het openbaar vervoer."
---

{% extends "input/_layouts/tiles.njk" %}