---
title: "Projecten"
nav: Projecten
tags:
    - nav
navColor: light
cards: 
    - img: 'projecten (8).png'
      title: 'HET MINISTERIE VOOR NATUUR - WEBSHOP'
      link: "ministerie-voor-natuur"
    - img: 'projecten (2).png'
      title: 'KINE CHARLIER - ONTWERP EN DEVELOPMENT'
      link: "kine-charlier"
    - img: 'projecten (4).png'
      title: 'ONDER VRIENDEN - DEVELOPMENT'
      link: "onder-vrienden"
    - img: 'projecten (7).png'
      title: 'SLAAPCOMFORT SPIERS - WEBSHOP'
      link: "slaapcomfort"
    - img: 'projecten (5).png'
      title: 'DERMADENT - ONTWERP EN DEVELOPMENT'
      link: "dermadent"
    - img: 'projecten (6).png'
      title: 'DENTAL DOK'
      link: "dental-dok"
    - img: 'projecten (3).png'
      title: 'VOSSELARE - ONTWERP EN DEVELOPMENT'
      link: "vosselare"
    - img: 'projecten (1).png'
      title: 'OPTIEK SOFIE - WEBSHOP'
      link: "optiek-sofie"
    - img: 'projecten (9).png'
      title: 'APOTHEEK DE BOECK - ONTWERP EN DEVELOPMENT'
      link: "apotheek-de-boeck"
hero: "Het bureau heeft een passie voor het creëren van unieke en aantrekkelijke ontwerpen die passen bij de visie en missie van hun klanten. Bekijk onze projecten"
---

{% extends "input/_layouts/grid.njk" %}

